@tailwind base;
@tailwind components;
@tailwind utilities;

* {
     font-family: "Fira Sans", sans-serif;
}

main {
     min-height: 100vh;
}

.card-lessons-container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     gap: 10px;
     margin: auto;
     margin-top: 40px;
}